* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
}

.head {
  padding: 54px 0px 0px 51px;
  margin: 0px 0px 28px 0px;
}
.head .head__title {
  margin: 0px 0px 21px 0px;
  font-size: 30px;
  color: #445161;
  line-height: 30px;
}
.head .head__text {
  color: #333333;
  line-height: 25px;
  padding: 0px 116px 0px 0px;
  margin: 0px 0px 24px 0px;
  color: #333333;
  line-height: 25px;
}
.head .head__subtitle {
  margin: 0px 0px 20px 0px;
  font-size: 25px;
  color: #445161;
  line-height: 30px;
}
.head .head__text2 {
  font-weight: bold;
  margin: 0px 0px 20px 0px;
  color: #333333;
  line-height: 14px;
}
.head .head__text3 {
  color: #ff0000;
  line-height: 14px;
}

.bottom {
  padding: 0px 51px 0px 51px;
}
.bottom .bottom__title {
  margin: 0px 0px 19px 0px;
  font-size: 20px;
  color: #445161;
  line-height: 30px;
}
.bottom p {
  margin: 0px 0px 22px 0px;
}
.bottom .bottom__text {
  text-align: right;
  color: #333333;
  line-height: 14px;
}
.bottom .bottom__text2 {
  color: #333333;
  line-height: 14px;
  text-transform: uppercase;
}
.bottom .bottom__text3 {
  color: #333333;
  line-height: 14px;
}
.bottom .bottom__text4 {
  color: #333333;
  line-height: 14px;
  text-decoration: underline;
}
.bottom .bottom__text5 {
  color: #333333;
  line-height: 14px;
  text-align: center;
}
.bottom .bottom__text6 {
  font-size: 24px;
  color: #333333;
  line-height: 24px;
}
.bottom .bottom__text7 {
  color: #333333;
  line-height: 14px;
  text-decoration: line-through;
}
.bottom .bottom__text8 {
  font-family: "Times New Roman", Times, serif;
  color: #333333;
  line-height: 14px;
}
.bottom .bottom__text9 {
  text-shadow: 1px 1px 1px #000000;
  color: #333333;
  line-height: 14px;
}